<!DOCTYPE html>
<html>
<head>
    <title>mahany.io</title>
    <!-- MathJax for LaTeX rendering -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <!-- Highlight.js for code syntax highlighting -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlight.js@10/styles/default.min.css">
    <script src="https://cdn.jsdelivr.net/npm/highlight.js@10/lib/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
    <div class="toolbar">
        <label for="article-select">Choose an article:</label>
        <select id="article-select" onchange="location = this.value;">
            <option value="#">Select an article</option>
            <option value="/article/yield_and_vol">Yield and implied volatility</option>
            <option value="/article/linear_hedging">Linear hedging</option>
            <!-- Add more articles here -->
        </select>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>
