{% extends "base.html" %}

{% block content %}
    <div class="content">
        <h3>Gnome</h3>

        Spend the years of learning squandering<br>
        Courage for the years of wandering<br>
        Through a world politely turning<br>
        From the loutishness of learning.
        
        <br><br><cite>Samuel Beckett, Dublin Magazine, 1934</cite> <br><br> <br>
        <p>If you have a suggestion for a new article, or any feedback on the existing articles, then feel free to contact me at <a href="mailto:conor@mahany.io">conor@mahany.io</a>.</p>

        <br><br><p>The code for this repository can be found <a href="https://github.com/laundrevity/blog">here.</a></p>
    </div>
{% endblock %}
